@import "header.css";
@import "landing.css";
@import "nosotros.css";
@import "realidad.css";
@import "productos.css";
@import "liofilizado.css";

:root{
    --scroll-color: #007940;
    /* --scroll-color: #333; */
    --header-color: #d3d3d3;
    --main-color: #007940;
    --secondary-color: #7eba2c;
    --light-gray: #e3e3e2;
    --section-green: #14482A;
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
    /* font-family: sans-serif; */
}

.separator{
    position: relative;
}
.separator > div{
    top:-14px;
    position: absolute;
    right: 0;
    width: 1000px;
    height: 72px;
    background-color: var(--secondary-color);
    border-bottom-left-radius: 55px;
}

.green-section{
    background-color: var(--section-green);
    /* height: 500px; */
    margin-bottom: 40px;
    height: 648px;
}
.center{
    text-align: center;
}
.green-section > div{
    position: relative;
}

.img-fondo-futuro{
    position: absolute;
    top:0;
    left:calc(50% - 310px);
}
.img-futuro{
    position: absolute;
    width: 500px;
    top:150px;
    left:calc(50% - 250px);
}
.img-nuestros{
    position: absolute;
    width: 500px;
    top:215px;
    left:calc(50% - 250px);
}

section:not(.liofilizado,.landing-liofilizado){
    display: none;
} 



/* .temp{
    font-size:20px;
    font-weight: bolder;
}

.process{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5em;
    background-color: hsl(120, 100%, 15%);
}

.process > div{
    display: grid;
    grid-template-columns: auto 1fr;
    padding:1em;
    align-items: center;
    gap: 1em;
    background-color: darkgreen;
}

.process span{
    font-size: 48px;
    color:yellowgreen
}

.process p{
    font-size:14px;
} */


body{
    overflow: hidden;
}

.scroll{
    overflow-y: scroll;
    height: 100vh;
}

@media screen and (min-width:570px){
    .scroll::-webkit-scrollbar {
      width: 8px;
  
    }
     
    .scroll::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px var(--scroll-color);
    }
     
    .scroll::-webkit-scrollbar-thumb {
      background-color: var(--scroll-color);
      outline: 1px solid var(--scroll-color);
    }
  
    .scroll{
      scrollbar-width: thin;          /* "auto" or "thin" */
      scrollbar-color: var(--scroll-color) rgb(255, 243, 220) !important;  
    }
}