@import "header.css";

button{
    padding:1em 2em;
    font-size:18px;
    font-weight: bolder;
    color:white;
    background-color: darkgreen;
}
button:hover{
    background-color: hsl(120, 100%, 25%);
}


section{
    padding-top: 60px;
}
section > *{
    display: inline-block;
    vertical-align: middle;
}
input{
    padding: .5em 0em .3em 0;
    font-size: 20px;
    width: 200px;
    border: 0 solid #111;
    border-bottom-width: 1px;
    text-align: center;
    background-color: #111;
    color:white;
    margin-top: .2em;
}
input:focus{
    outline: none;
}
form{
    color:white;
    background-color: white;
    background-color: #272727;
    display: inline-block;
    text-align: center;
    padding: 1em 2em;
    margin: 30px 0;
    margin-right: 60px;
}
label{
    font-size: 18px;
    font-weight: bold;
}
#output{
    border: 1px solid black;
    height: 470px;
    width: 1100px;
    background-color: #222;
    color:white;
    padding:1em;
    overflow-y: auto;
    display: inline-block;
    text-align: left;
}