@import "header.css";

input{
    padding: .5em 0em .3em 0;
    font-size: 20px;
    width: 300px;
    border: 0 solid #111;
    border-bottom-width: 1px;
    text-align: center;
    background-color: #111;
    color:white;
    margin-top: .2em;
}
input:focus{
    outline: none;
}
form{
    color:white;
    background-color: white;
    background-color: #272727;
    display: inline-block;
    text-align: center;
    padding: 1em 2em;
    margin: 30px 0;
    margin-right: 60px;
}
label{
    font-size: 18px;
    font-weight: bold;
}

button{
    font-size:18px;
    font-weight: bolder;
    color:white;
    background-color: darkgreen;
    width: 100px;
    height: 50px;
}
button .spinner{
    display: none;
}
button.disabled{
    background-color: hsl(120, 20%, 30%);
}
button.disabled .spinner{
    display: inline-block;
}
button.disabled span{
    display: none;
}
button:not(.disabled):hover{
    background-color: hsl(120, 100%, 25%);
}
#success{
    color:lightgreen;
    display: none;
}