:root{
    --header-color: #d3d3d3;
    --main-color: #007940;
    --secondary-color: #7eba2c;
    --third-color: #00615c;
    --scroll-color: var(--third-color);
    --light-gray: #e3e3e2;
    --section-green: #14482A;
}

.spinner{
    width: 24px;
    height: 24px;
    animation: spinn 1s linear infinite;
    border-radius: 50%;
    border:5px solid white;
    border-top-color: transparent;
    display: inline-block;
}
.center{
    text-align: center;
}
@keyframes spinn {
    to{transform: rotate(360deg)}
}