
.realidad{
    padding: 40px 1em;
    margin-bottom: 40px;
    overflow: hidden;
}

.realidad > div{
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    left: -100px;
}
.realidad h3{
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: .1em;
    color: var(--main-color);
}
.realidad h3:first-child{
    color: var(--secondary-color);
}
.realidad p {
    color: var(--main-color);
    font-weight: bold;
    text-align: justify;
}
.realidad ul{
    padding-left: 1em;
}
.realidad .img-planta{
    position:absolute;
    top:-14px;
    right: -210px;
    width: 320px;
}
.realidad .img-planta-fresas{
    position:absolute;
    top:220px;
    right: -170px;
    width: 150px;
}
.realidad .img-woman{
    position:absolute;
    top:445px;
    right: -140px;
    width: 200px;
}
.realidad .text-objetivo{
    width: 80%;
}
@media (max-width:730px){
    .realidad > div{
        left: 0;
    }
    .realidad .img-planta{
        top:10px;
        right: -50px;
        width: 220px;
    }
    .realidad .img-planta-fresas{
        top:220px;
        right: -170px;
        width: 150px;
        display: none;
    }
    .realidad .img-woman{
        bottom: 00px;
        top:auto;
        right: -40px;
        width: 200px;
    }
    .realidad .text-objetivo{
        width: calc(100% - 150px);
        text-align: left;
        min-width: 200px;
    }
}